/* Content */

.contentDiv {
    background-color: #389583;
    /* background-color: #9ED5C5; */
    border: 2px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 800px) {
    div.contentDiv {
        max-width: 850px;
        padding: 20px;
    }
    .postDiv{
        max-width: 700px;
        padding: 30px 30px 10px 30px;
    }
    .postInputText {
        max-width: 560px;
    }
    .postInput {
        margin-left: 77px;
    }
    .imgPreview {
        width: 640px;
    }
    .postUsernameAction{
        width: 550px;
    }
}

@media screen and (max-width: 800px) {
    div.contentDiv {
        max-width: 400px;
        padding: 10px;
    }
    .postDiv{
        max-width: 400px;
        padding: 10px 10px 5px 10px;
    }
    .postInputText {
        max-width: 200px;
    }
    .postInput {
        max-width: 100px;
        margin-left: 5px;
    }
    .imgPreview {
        max-width: 350px;
        margin-left: -10px;
        margin-right: -10px;
    }
    .adaptScreen{
        display: flex;
        flex-direction: column;
    }
    .postUsernameAction{
        width: 250px;
    }
}

.contentTitle {
    text-align: center;

}

.hr3 {
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, transparent, black, transparent);
}

.postDiv {
    background-color: #8DE4AF;
    /* background-color: #BCEAD5; */
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.postInputText {
    width: 560px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.postInput {
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 5px;
    margin-left: 77px;
}

.postEditInput{
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
}

.postButton {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
}

div.postDiv>form>div:last-child {
    display: flex;
    justify-content: flex-end;
}

.imgPreview {
    border-radius: 10px;
    margin-bottom: 10px;
}

.postUserPic {
    width: 70px;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.postUsername {
    font-size: large;
    font-weight: 600;
}

.postDate {
    font-size: small;
}

.postHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.postUsernameAction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.deleteIconPost {
    width: 20px;
    margin-left: 5px;
}

.link {
    color: black;
}

.metaIcon{
    width: 20px;
    margin: 20px;
}

.likesDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.actionIconsDiv{
    display: flex;
    flex-direction: row;
}