/* Fab Group */

.fab-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column-reverse;
    position: fixed;
    right: 2em;
    bottom: 2em;
    max-height: 52px;
}

.fab-container li {
    border-radius: 50%;
    box-shadow: 0 3px 6px lightgrey;
    display: grid;
    place-items: center;
    margin: 8px 0;
    font-size: 28px;
    padding: 12px;
    cursor: pointer;
    position: relative;
}

.fab-button {
    background-color: #5CDB95;
}

.fab-action {
    transform: translateY(50px) scale(0);
    transition: transform 300ms, opacity 300ms;
    opacity: 0;
    background-color: #EDF5E1;
}

.open {
    transform: translateY(0) scale(1);
    opacity: 1;
}

/* .tooltip {
    padding: 4px 6px;
    font-size: 12px;
    position: absolute;
    left: -12px;
    transform: translateX(-75%);
    background-color: #353b48;
    border-radius: 4px;
    color: white;
    opacity: 0;
    transition: transform 300ms, opacity 300ms;
    user-select: none;
} */

/* Fab Group Home */

.fab-container-home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: fixed;
    right: 200px;
    left: 200px;
    top: 200px;
    width: 500px;
}

.fab-button-home {
    background-color: #EDF5E1;
    margin-right: 20px;

    border-radius: 50%;
    box-shadow: 0 3px 6px lightgrey;
    display: grid;
    place-items: center;
    font-size: 28px;
    padding: 12px;
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 100px;
}

.fab-action1 {
    transform: translateY(50px) scale(0);
    transition: transform 300ms, opacity 300ms;
    opacity: 0;
    background-color: #EDF5E1;
}

.open1 {
    transform: translateY(0) scale(1);
    opacity: 1;
}