/* General */

@media screen and (min-width: 800px) {
    .containerDiv {
        max-width: 500px;
    }
    .commentInput{
        width: 400px;
    }
    .commentHeader{
        width: 550px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .commentDate {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    .containerDiv {
        max-width: 300px;
    }
    .commentInput{
        max-width: 400px;
    }
    .commentHeader{
        max-width: 300px;
        display: flex;
        flex-direction: row;
    }
    .commentDate {
        font-size: 12px;
        margin-left: 10px;
    }
}


/* Logo */

.logoImg {
    height: 150px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .logoImg {
        animation: logoImg-spin infinite 3s linear;
    }
}

.logoDiv {
    background-color: #282c34;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@keyframes logoImg-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* NavBar */

.logoNav{
    width: 40px;
}

div.dropdown-menu.show {
    background-color: #DEF5E5;
}

/* Home */

.homePic{
    width: 100%;
}

/* Forms */

.containerDiv {
    /* background-color: #9ED5C5; */
    background-color: #389583;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.formFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formButton{
    display: flex;
    justify-content: flex-end;
}

.imgRegisterPreview {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.errorMessage{
    color: red;
    font-weight: 500;
}

/* Comment */

.commentDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.commentInput{
    height: 30px;
    border-radius: 10px;
}

.commentUserPic{
    width: 40px;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.commentUsername {
    font-size: 14px;
    font-weight: 600;
}

.deleteIconComment{
    width: 15px;
    margin-left: 5px;
}

.changeIconComment{
    width: 15px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 1px;
    margin-left: 5px;
}

.metaIconComment {
    width: 15px;
    margin-right: 15px;
}

.likesDivComment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}