/* General */

@media screen and (min-width: 1000px) {
    .test span {
        left: 740px;
        right: 760px;
    }
    .homeTextBottom {
        top: 400px;
    }
}

@media (max-width: 1000px) and (min-width: 800px) {
    .test span {
        left: 480px;
        right: 450px;
    }
}

@media screen and (min-width: 800px) {
    .containerDiv {
        max-width: 500px;
    }
    .commentInput{
        width: 400px;
    }
    .commentHeader{
        width: 550px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .commentDate {
        font-size: 14px;
    }
    .homeTextTop{
        top: 150px;
        right: 190px;
        left: 180px;
    }
    .homeTextTop2{
        top: 120px;
        right: 190px;
        left: 180px;
    }
    .homeTextBottom {
        right: 200px;
        left: 200px;
    }
}

@media screen and (max-width: 800px) {
    .containerDiv {
        max-width: 300px;
    }
    .commentInput{
        max-width: 400px;
    }
    .commentHeader{
        max-width: 300px;
        display: flex;
        flex-direction: row;
    }
    .commentDate {
        font-size: 12px;
        margin-left: 10px;
    }
    .test span {
        left: 180px;
        right: 150px;
        top: 70px;
    }
    .homeTextTop{
        top: 170px;
        right: 160px;
        left: 150px;
    }
    
    .homeTextTop2{
        top: 140px;
        right: 180px;
        left: 175px;
    }
    .homeTextBottom {
        right: 40px;
        left: 40px;
        top: 350px;
        width: 300px;
}
}


/* Logo */

.logoImg {
    height: 150px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .logoImg {
        animation: logoImg-spin infinite 3s linear;
    }
}

.logoDiv {
    background-color: #282c34;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@keyframes logoImg-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* NavBar */

.logoNav{
    width: 40px;
}

.NavbarBrand{
    font: 20px Monaco, MonoSpace;
}

div.dropdown-menu.show {
    background-color: #DEF5E5;
}

/* Home */

.homePic{
    width: 100%;
}

.homeTextTop{
    text-align: center;
    font: 20px Monaco, MonoSpace;
    font-weight: bolder;
    position: absolute;
}

.homeTextTop2{
    text-align: center;
    font: 20px Monaco, MonoSpace;
    font-weight: bolder;
    position: absolute;
}

.homeTextBottom {
    color: white;
    text-align: center;
    font-weight: bolder;
    position: absolute;
}

.test span {
    font: 26px Monaco, MonoSpace;
    font-weight: bolder;
    text-shadow: 1px 1px 2px white, 0 0 1em #8DE4AF, 0 0 0.2em #389583;
    height: 200px;
    position: absolute;
    width: 20px;
    top: 70px;
    transform-origin: bottom center;
}
.char1 {
    transform: rotate(-48deg);
}
.char2 {
    transform: rotate(-44deg);
}
.char3 {
    transform: rotate(-40deg);
}
.char4 {
    transform: rotate(-36deg);
}
.char5 {
    transform: rotate(-32deg);
}
.char6 {
    transform: rotate(-28deg);
}
.char7 {
    transform: rotate(-24deg);
}
.char8 {
    transform: rotate(-20deg);
}
.char9 {
    transform: rotate(-16deg);
}
.char10 {
    transform: rotate(-12deg);
}
.char11 {
    transform: rotate(-8deg);
}
.char12 {
    transform: rotate(-4deg);
}
.char13 {
    transform: rotate(0deg);
}
.char14 {
    transform: rotate(4deg);
}
.char15 {
    transform: rotate(8deg);
}
.char16 {
    transform: rotate(12deg);
}
.char17 {
    transform: rotate(16deg);
}
.char18 {
    transform: rotate(20deg);
}
.char19 {
    transform: rotate(24deg);
}
.char20 {
    transform: rotate(28deg);
}
.char21 {
    transform: rotate(32deg);
}
.char22 {
    transform: rotate(36deg);
}
.char23 {
    transform: rotate(40deg);
}
.char24 {
    transform: rotate(44deg);
}
.char25 {
    transform: rotate(48deg);
}
.char26 {
    transform: rotate(52deg);
}

/* Forms */

.containerDiv {
    /* background-color: #9ED5C5; */
    background-color: #389583;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.formFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formButton{
    display: flex;
    justify-content: flex-end;
}

.imgRegisterPreview {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.errorMessage{
    color: red;
    font-weight: 500;
}

/* Comment */

.commentDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.commentInput{
    height: 30px;
    border-radius: 10px;
}

.commentUserPic{
    width: 40px;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.commentUsername {
    font-size: 14px;
    font-weight: 600;
}

.deleteIconComment{
    width: 15px;
    margin-left: 5px;
}

.changeIconComment{
    width: 15px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 1px;
    margin-left: 5px;
}

.metaIconComment {
    width: 15px;
    margin-right: 15px;
}

.likesDivComment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}